project_id   = "YOUR-GCP-PROJECT-ID"
region       = "asia-northeast3"
zone_a       = "asia-northeast3-a"
zone_c       = "asia-northeast3-c"
github_owner = "YOUR-GITHUB-USERNAME-OR-ORG"
github_repo  = "YOUR-GITHUB-REPOSITORY-NAME"
